/* Created By J.Krogman, March 13, 2021 */

/* default color scheme - override BS colors */
:root {
	--nav-primary: white;
	--nav-secondary: black;
	--nav-alternate: #efa666;
	--nav-alt-secondary: #8c949d;
	--nav-comp: #2f3b3f;
	--font-one: Roboto, sans-serif;
	--font-two: 'Noto Sans JP Regular';
	--icon-font: "iconfont_hp";
	--theme-c1: #39484d;
	--theme-c2: #8c3f04;
}


/* overall styles */
body {
	overflow-x: hidden;
	/* font-family:  var(--font-two); */
	font-family: var(--font-one);
	height: 100%;
}

html {
	height: 100%;
}

h3 {
	font: 300 34px var(--font-one);
	line-height: 1.1;
	letter-spacing: 0;
	letter-spacing: 20;
}

p {
	font: normal 18px var(--font-one);
}

/* Top Navigation Styles */

article.active, footer.active {
	opacity: 0.3;
}

nav {
	width: 100%;
}

.nav_wrapper {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	transition: top .5s ease-out;
	background: var(--nav-primary);
	border-bottom: 1px solid var(--nav-secondary);
	z-index:1;
}

.nav_wrapper.active {
	background-color: var(--nav-secondary);
}

.scroll {
	top: -90px;
}

.no-scroll {
	top: 0;
	z-index: 9999;
}

.btn {
	padding: 10px 1%;
	margin: 5px;
	color: var(--nav-alternate);
	text-decoration: none;
	font-family: sans-serif;
	transition: all 0.1s ease;
}

.btn:hover {
	transition: all 0.1s ease;
}

.btn-check:focus+.btn, .btn:focus {
	box-shadow: none;
}

/*
main {
	max-width: 800px;
	margin: 0 auto;
}*/

main p { 1.2em;
	
}

#search {
	float: right;
	font-size: 30px;
	padding: 0px 0px 0px 30px;
	line-height: 40px;
	color: var(--nav-alternate);
	margin: 0;
	font-weight: 700;
	-webkit-transform: rotate(181deg);
	-moz-transform: rotate(181deg);
	-ms-transform: rotate(181deg);
	-o-transform: rotate(181deg);
	transform: rotate(181deg);
}

#search:hover {
	color: var(--nav-alternate);
}

.search_box {
	clear: both;
	width: 100%;
	background: var(--nav-secondary);
	padding: 0;
	margin: 0;
	height: 0;
	overflow: hidden;
	transition: all 0.1s ease-in-out;
}

.search_box.active {
	height: auto;
	padding: 10px;
}

.search_box input {
	width: 80%;
	font-size: 22px;
	margin: 0 0 0 15px;
	padding: 10px;
	border: none;
	background: var(--nav-primary);
}

.search_box input:focus {
	outline: none;
}

.search_box input.search_icon {
	clear: both;
	width: 10%;
	height: auto;
	padding: 10px;
	margin: 0;
	margin-left: -5px;
	border: none;
	color: var(--nav-primary);
	cursor: pointer;
	background: var(--nav-alt-secondary);
	opacity: 1;
	transition: all 0.1s ease;
}

.search_box input.search_icon:hover {
	background: var(--nav-alternate);
}

.menu-link {
	display: none;
}

.spinner-master input[type=checkbox] {
	display: none;
}

.menu {
	width: 100%;
	height: auto;
	background: ;
	transition: all 0.3s ease;
}

.menu ul {
	padding: 0px;
	margin: 0px;
	list-style: none;
	/*position: relative;
	display: inline-block;*/
	overflow: hidden;
}

.menu ul li {
	padding: 0px;
}

.menu>ul>li {
	display: inline-block;
}

.menu ul li a {
	display: block;
	text-decoration: none;
	color: var(--nav-primary);
	font-size: x-large;
}

/* .menu ul li a:hover {
	background: var(--nav-alternate);
	color: var(--nav-primary);
}

.menu ul li.hover>a {
	background: var(--nav-alternate);
	color: var(--nav-primary);
} */

.menu ul li>a {
	padding: 30px;
}

/*
.menu ul li:hover>ul {
	display: block;
}

.menu ul ul>li {
	position: relative;
}

.menu ul ul>li a {
	padding: 10px 15px;
	height: auto;
	background: var(--theme-c1);
}

.menu ul ul>li a:hover {
	background: var(--nav-alternate);
	color: var(--nav-primary);
}

.menu ul ul ul {
	position: absolute;
	left: 100%;
	top: 0;
} */


/* this controls the breakpoint of the menu folding. Set high to always be in responsive mode */
@media all and (max-width: 1920px) {
	.example-header .container {
		width: 100%;
	}

	.spinner-master * {
		transition: all 0.3s;
		box-sizing: border-box;
	}

	.spinner-master {
		position: relative;
		margin: 10px 50% 0 50%;
		width: 30px;
	}

	.spinner-master label {
		cursor: pointer;
		position: absolute;
		z-index: 99;
		height: 100%;
		width: 100%;
		top: 10px;
		left: 0;
	}

	.spinner-master .spinner {
		position: absolute;
		height: 4px;
		width: 100%;
		padding: 0;
		background-color: var(--nav-secondary);
	}

	.spinner-master .diagonal.part-1 {
		position: relative;
		float: left;
	}

	.spinner-master .horizontal {
		position: relative;
		float: left;
		margin-top: 4px;
	}
	
	.spinner-master .diagonal.part-2 {
		position: relative;
		float: left;
		margin-top: 4px;
	}
	
	.spinner-master input[type=checkbox]:checked ~ .spinner-spin>.horizontal
		{
		opacity: 0;
	}
	
	.spinner-master input[type=checkbox]:checked ~ .spinner-spin>.diagonal.part-1
		{
		transform: rotate(135deg);
		-webkit-transform: rotate(135deg);
		margin-top: 10px;
	}
	
	.spinner-master input[type=checkbox]:checked ~ .spinner-spin>.diagonal.part-2
		{
		transform: rotate(-135deg);
		-webkit-transform: rotate(-135deg);
		margin-top: -12px;
		color: var(--nav-primary);
	}
	
	.diagonal.active, .horizontal.active {
		background-color:var(--nav-primary);
	}
	
	a.menu-link {
		display: block;
		color: var(--nav-primary);
		float: left;
		text-decoration: none;
		padding: 10px 16px;
		font-size: 1.5em;
	}
	
	a.menu-link:hover {
		color: var(--nav-alternate);
	}
	
	a.menu-link:after {
		content: "\2630";
		font-weight: normal;
	}
	
	a.menu-link.active:after {
		content: "\2715";
	}
	
	.menu {
		clear: both;
		min-width: inherit;
		float: none;
	}
	
	
	.menu, .menu>ul ul {
		overflow: hidden;
		max-height: 0;
		background-color: var(--nav-secondary);
	}
	
	.menu>li>ul.sub-menu {
		padding: 0px;
		border: none;
	}
	
	.menu.active, .menu>ul ul.active {
		max-height: 55em;
	}
	
	/* put the list horizontal
	.menu ul {
		display: inline;
	}
	
	.menu li, .menu>ul>li {
		display: block;
	}
	*/
	
	.menu>ul>li:last-of-type a {
		border: none;
	}
	.menu li a {
		color: var(--nav-primary);
		display: block;
		padding: 0.8em;
		position: relative;
	}
	
	.menu li.has-submenu>a:after {
		content: '+';
		position: absolute;
		top: 0;
		right: 0;
		display: block;
		font-size: 1.5em;
		padding: 0.55em 0.5em;
	}
	
	.menu li.has-submenu>a.active:after {
		content: "-";
	}
	
	.menu ul ul>li a {
		background-color: var(--theme-c1);
		padding: 10px 18px 10px 30px;
	}
	
	/* .menu ul li a:hover {
		font-weight: bold;
	}*/
	
	.menu ul li.hover>a {
		background: var(--nav-alt-secondary);
		color: var(--nav-primary);
	}
	
	.menu ul ul, .menu ul ul ul {
		display: inherit;
		position: relative;
		left: auto;
		top: auto;
		border: none;
	}
	
	.search_box {
		position: absolute;
		/* top: 60px; */
		left: 0;
		z-index: 10;
	}

	.search_box input {
		width: 70%;
	}
	
	.search_box input.search_icon {
		width: 17%;
	};
}

/* other styles */

#header-image {
	padding: 0px 20px 0px 20px;
	float: left;
	/* background-color: var(--nav-primary); */
}

#header-image img {
	width: 90px;
	height: 60px;
}

.skip-to-content-link {
	background: var(--nav-alternate);
	height: 30px;
	left: 50%;
	padding: 8px;
	position: absolute;
	transform: translateY(-100%);
	transition: transform 0.3s;
}

.skip-to-content-link:focus {
	transform: translateY(0%);
}


.main {
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 10px;
}


/* icon bar */
.icon-bar {
	position: fixed;
	top: 50%;
	left: 90%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.icon-bar a {
	display: block;
	text-align: center;
	padding: 16px;
	transition: all 0.3s ease;
	color: var(--nav-alternate);
	font-size: 30px;
}


@media screen and (max-height: 450px) {
	.right-sidenav {
		padding-top: 15px;
	}
	.right-sidenav a {
		font-size: 18px;
	}
}

/* social styles */
.socials {
	color: var(--nav-secondary);
	cursor: pointer;
	font-family: var(--icon-font);
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 6px 8px 6px 16px;
	font-size: 36px;
}

.socials a:hover, a#search:hover {
	color: var(--theme-c2);
}


/* paralax effect */
.skrollable {
  background-image: url("/htdocs/cws/img/lotus-flower-2.jpg");
  min-height: 700px;
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 1px solid var(--nav-secondary);
   -webkit-text-size-adjust: 100%;
   object-fit: cover;
   display: block;
   vertical-align: middle;
   background-repeat: no-repeat;
   overflow: auto;
}

.skrollable-text {
    color: var(--theme-c2);
    width: 660px;
    margin: 258px auto 0;
}

.skrollable-text h1 {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    padding: 0;
    font-weight: 300;
    font-size: 3.75rem;
    letter-spacing: 9px;
    line-height: 1;
    width: 660px;
    margin: 258px auto 0;
    pointer-events: initial;
}

.skrollable-text #divider {
    border-style: solid;
    border-bottom-width: 0;
}

.skrollable-text p {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    word-wrap: break-word;
    position: relative;
    color: var(--theme-c2);
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.5rem;
    letter-spacing: 7px;
    width: 678px;
    margin: 0 auto 60px;
    pointer-events: initial;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .skrollable {
    background-attachment: scroll;
  }
}

/* Back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: 2px solid var(--theme-c2);
  outline: none;
  background-color: var(--nav-alternate);
  color: var(--nav-secondary);
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: var(--theme-c2); /* Add a dark-grey background on hover */
  color: var(--nav-primary);
  border: 2px solid var(--nav-alternate);
}

/* Footer styles */
footer {
    background-color: var(--nav-secondary);
    padding-top: 10px;
}

footer div {
    margin: 0 auto;
}

footer > form {
    line-height: 1.6;
    text-align: center;
    color: var(--nav-primary);
    font-size: 1rem;
    pointer-events: initial;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-grow: 1;
    padding: 15px;	
}

.u-text-1 {
    text-align: center;
    color: var(--nav-primary);
    line-height: 1.6;
    margin: 23px auto 0;
    pointer-events: initial;
	}

.u-text-2 {
    text-align: center;
    color: var(--nav-primary);
    line-height: 1.6;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 3px;
    margin: -12px auto 0;
    pointer-events: initial;
}	

.u-form {
    max-width: 655px;
    margin: -6px auto 0;
    pointer-events: initial;
}

.u-inner-form {
    display: flex;
    flex-flow: row;
    align-items: center;
    flex-grow: 1;
    padding: 15px;
}

.u-clearfix:before {
	content: '';
    display: table;
}

.u-clearfix:after {
	clear: both;
	}

.u-form-group {
    line-height: 1.6;
    color: var(--nav-primary);
    display: flex;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    margin-right: 15px;
}

.u-label-1 {
    display: none;
}

.u-input {
    overflow: visible;
    padding: 10px 12px;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    background-color: transparent;
    color: var(--nav-primary);
    border-width: 1px;
    border-color: var(--nav-primary);
    flex-grow: 1;
    flex-shrink: 1;
}

.u-input-2 {
   width: 250px;
   border: 1px solid var(--nav-alternate);
}

.u-modal {	
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%238c3f04'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}

.u-form-submit {
    color: var(--nav-primary);
    font-size: 1rem;
    flex: 0 0 auto;
    flex-flow: row nowrap;
    align-items: center;
    margin-bottom: 0;
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 0;
}

.u-btn-submit {
    pointer-events: initial;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid var(--nav-alternate);
    outline-width: 0;
    align-self: flex-start;
    border-radius: 38px;
    line-height: 1.4;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    stroke: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.125rem;
    background-color: var(--theme-c2);
    color: var(--nav-primary);	
}

a.u-btn-submit:hover {
    background-color: var(--nav-alternate);
    color: black;
    border: 2px solid var(--theme-c2);
}

.u-form-control-hidden {
    display: none !important;
}

small {
    text-align: center;
    color: var(--nav-primary);
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    font-style: italic;
    display: block;
}

.modal-header {
	border: none!important;
}