// By Lisa
.about-page {
  img.cohosti{
    padding: 10px;
  }

  img {
    width: 150px;
    height: auto;
  }
  p.cohostp, p.aboutp{
    padding: 10px;
  }
  /*
  header {
    background: #000;
    width:100%;
    height: 100px;

  }

  */
  h2{
    text-align: center;
  }

  button {
    margin: 0 auto;
    width: 150px;
  }
}

