// By Charlotte
@use 'variables';
.blog-page {
    a {
      color: variables.$color;
      text-decoration: none;
    }
  h2 {
    margin-bottom: 0.5em;
  }
  h2, h3 {
    text-align: center;
  }

  .post {
    margin-bottom: 2em;
  }

  .thumbnail {
    display: block;
    padding-bottom: 1em;

    img {
      width: 100%;
      height: auto;
      max-height:220px ;
      margin-bottom: 1em;
    }
  }
  p {
    margin-bottom: 0;
  }

  .btn-primary {
    background-color: variables.$button;
    border-color: variables.$button;
    color: white;
  }
}

.blog-post {
  a {
    color: variables.$orange;
    text-decoration: none;
  }
}
