@use 'variables';
.btn-primary {
  background-color: variables.$button;
  border-color: variables.$button;
  color: white;

  &:hover {
    background-color: variables.$button;
    border-color: variables.$button;
    color: white;
  }
}

h3 {
  font-size: 26px;
}
.archives {
  margin: 1em auto;
}

figure {
  text-align: center;
}

.thumbnail {
  display: block;

  img {
    width: 100%;
    height: auto;
    max-height:220px ;
    margin-bottom: 1em;
  }
}

skrollable-text {
  width: 100%;
}
@media only screen and (max-width: 575.98px) {
  .skrollable-text {
    h1{
      font-size: 3.25em !important;
    }

    p {
      font-size: 1.25em !important;
    }
  }
}