@use 'variables';
.btn-primary {
  background-color: variables.$button;
  border-color: variables.$button;
  color: white;

  &:hover {
    background-color: variables.$button;
    border-color: variables.$button;
    color: white;
  }
}

h3 {
  font-size: 26px;
}
.archives {
  margin: 1em auto;
}

figure {
  text-align: center;
}