// By Charlotte
body {
  position: relative;

}
html {
  margin-top: 100px;
}

html, body {
 width: 100%;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: white;
  z-index: 99;
.logo {
    img {
      position: relative;
      bottom: 44px;
      width: 120px;
      height: auto;
    }
}
  nav {
    height: 50px;
    padding-top: 0.25em;
    display: flex;
    flex-wrap: wrap;


    a {
      text-decoration: none;
    }

    .logo {
      flex: 30%;
    }
    .nav-button {
      display: none;
      cursor: pointer;
    }
    .navigation {
      flex: 70%;
      list-style-type: none;
      padding: 0;
      z-index: 99;

      li {
        display: inline;
        padding: 0.25em;

        a {
          width: 100%;
          padding: 0.25em;
        }
      }
    }

  .sub-menu {
    display: none;
  }
    .drop {
    display: block;
  }

    ul.navigation > .menu-item-has-children > a::after {
      content: "▼";
      padding-left: 3px;
      font-size: 12px;
    }
    .menu-item-has-children {
      position: relative;
      display: inline-block;



      ul {
        background-color: white;
        position: absolute;
        right: 0;
        min-width: 160px;
        z-index: 1;
        padding: 4px;

        li {
          display: block;
        }

      }
    }

    .nav-button {
      display: none;
      cursor: pointer;

      div {
        z-index: 1000;
        width: 25px;
        height: 3px;
        margin: 5px;
        transition: all 0.3s ease;
        background-color: black;
      }
    }


    @media only screen and (max-width: 991.98px) {
      .menu-item-has-children {
        position: static;

        ul {
          position: static;
          min-width: 100%;
          z-index: 1;
          padding-left: 0;
          background-color: black;

          li {
            display: block;
          }

        }
      }
      .logo {
        img {
          bottom: 32px;
        }
      }
      .nav-button {
        display: block;
        z-index: 1000;
      }
      .navigation {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        width: 0;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        background-color: black;
        text-align: center;
        padding-top: 100px;


        li {
          padding: 1em 0;

          a {
            color: white;
            display: block;
            padding: 0.5em;
          }
        }

      }
      .nav-active {
        width: 50%;
        transform: translate(0%);
      }

      .toggle {
        .line1 {
          transform: rotate(-45deg) translate(-5px, 6px);
          background-color: white;
        }

        .line2 {
          opacity: 0;
        }

        .line3 {
          transform: rotate(45deg) translate(-5px, -6px);
          background-color: white;
        }
      }
      .logo {
        img {
          width: 100px;
          bottom: 40px;
        }
      }


      @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
    @media only screen and (max-width: 575.98px) {
      .nav-active{
        width:100%;
      }

      .logo {
        img {
          position: relative;
          width: 90px;
          bottom: 30px;
        }
      }

    }
  }

}
