@use 'variables';
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  .modal-content {
    position: relative;
    background-color:white;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }

    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }


    .close-modal {
      color:  #aaaaaa;
      text-align: right;
      font-size: 18px;
      margin-bottom: 1em;

      &:hover,
      &:focus{
        color: black;
        text-decoration: none;
        cursor: pointer;
      }

    }

    img {
      margin: 0 auto;
      width: 200px;
      height: auto;
    }

    #mc_embed_signup_scroll {
      h2 {
        color: black;
        font-size: 24px;
        text-align: center;
        font-weight: normal;
      }
    }

    #mc_embed_signup {
      margin: 0 auto;
      max-width: 450px;
      background-color: white;
      color: black;

    }
    #mc_embed_signup input.button {
      height: 40px;
      margin-left: auto;
      margin-right: auto;
      background-color: variables.$orange;
    }

    #mce-EMAIL {
      margin: 1em auto;

    }
  }
  @media only screen and (max-width: 991.98px) {
    .modal-content {
      width: 75%;
    }
  }
  @media only screen and (max-width: 767.98px) {
    .modal {
      padding-top: 50px;
    }
    .modal-content {
      width: 90%;
    }
  }
}